{% extends 'soft/main.html' %}
{% load static %}


{% block content-head %}

<div class="py-5 text-center container">

<img  src="{% static 'soft/img/home2.jpg' %}" width="500" height="350" alt="11111" >
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Диваны вашей мечты</h1>
        <p class="lead text-body-secondary">Диван — это предмет мебели, который позволяет не только задать тон общей стилистике, но и универсальный объект, поражающий своим функционалом. Применение подобной мебели актуально для различных помещений от просторных апартаментов до небольшой студии. С помощью дивана можно существенно изменить геометрию пространства, зонировать комнату и организовать комфортное спальное место.</p>
      </div>
    </div>
</div>



    <div class="container py-3">
<div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
  <div class="col">
    <a href="{% url 'divan_'%}" class="text-decoration-none">
    <div class="card-image card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
         style="background-image: url('{% static 'soft/img/home2.jpg' %}')">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Прямые диваны</h3>
      </div>
    </div>
    </a>
  </div>

  <div class="col">
    <a href="{% url 'divan1' %}" class="text-decoration-none">
    <div class="card-image card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
         style="background-image: url('{% static 'soft/img/preiwe Hills-602x345.jpg' %}' )">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Угловые диваны</h3>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto white-back">
          </li>
        </ul>
      </div>
    </div>
    </a>
  </div>

{% endblock %}